version: '3.8'
services:
  app:
    build: .
    image: ghcr.io/mightyhelper/wsd25_assign02:latest
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=mysql+aiomysql://appuser:apppass@db:3306/appdb
      - REDIS_URL=redis://redis:6379/0
      - PEPPER=${PEPPER}
      - STORAGE_KIND=fs
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - uploads:/app/uploads

  db:
    image: mariadb:10.11
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: appdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -prootpass"]
      interval: 3s
      timeout: 3s
      retries: 50

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 3s
      timeout: 3s
      retries: 50

volumes:
  uploads:
